version: "3.9"

services:
  minio:
    image: ghcr.io/chrishow2/minio-ce:latest
    container_name: minio
    restart: unless-stopped
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server --address ":9000" --console-address ":9001" /data
    volumes:
      - minio_data:/data
      - minio_config:/root/.minio

volumes:
  minio_data:
  minio_config: